.asset-col{
  width: 33%;
}
.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
  border-radius: 20px;
}
.card .card-title {
  color: black;
}
.card-title {
  overflow-wrap: break-word;
  font-weight: 400 !important;
}
.card-border {
  height: 3vh;
  width: 100%;
  border-top-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  background-color: rgb(69, 185, 255);
}
.card-image {
  width: 30%;
  margin: auto;
  margin-top: 5%;
}
.page-header {
  /*margin-top: -60px;*/
  background-color: #005878;
  min-height: 120px;
  color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
}
.cart-col {
  width: 30%;
}
.col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.collection .collection-item {
  display: flex;
  border-radius: 10px;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
  display: flex;
}
body {
  background-color: #E4E8EC;
}
div.MuiDrawer-paper {
  background-color: #e68200;
}
hr.MuiDivider-root {
  background-color: #4E8098;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user-icon {
  border-radius: 50%;
}
div.user-info {
  line-height: 25px;
  font-size: 1.1em;
}
.header-image {
  height: 105px;
  position: absolute;
  top: -80px;
  right: 0px;
}